apiVersion: apps/v1
kind: Deployment
metadata:
  name: todoapp
  labels:
    app: node
spec:
  replicas: 5
  selector:
    matchLabels:
      app: node
  template:
    metadata:
      name: todoapp
      labels:
        app: node
    spec:
      containers:
      - name: todoapp
        image: kalpana16/todoapp
        ports:
        - containerPort: 3000
