apiVersion: v1
kind: Service
metadata:
  labels:
    app: node
  name: todoapp
  namespace: default
spec:
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: node
  type: LoadBalancer
